.movie-detail {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #222;
  color: white;
  border-radius: 10px;
}

.movie-detail img {
  width: 100%;
  border-radius: 10px;
}

.back-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: #ff3c00;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.back-btn:hover {
  background: #cc3200;
}

.providers {
  display:flex;
}

.provider {
  display: flex;
    flex: 1;
    flex-wrap: wrap;
}
