.movie-detail {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #222;
  color: white;
  border-radius: 10px;
}

.movie-detail img {
  width: auto;
  max-height:400px;
  border-radius: 10px;
}

.back-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: #ff3c00;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.back-btn:hover {
  background: #cc3200;
}

.providers {
  display: flex;
  flex-wrap: wrap;
  gap: 12px; /* Abstand zwischen den Logos */
  margin-top: 10px;
  justify-content:center;
}

.provider {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100px; /* Einheitliche Breite für jede Kachel */
}

.provider img {
  width: 60px;  /* Einheitliche Breite */
  height: 60px; /* Einheitliche Höhe */
  object-fit: contain; /* Damit das Logo gut skaliert */
  border-radius: 8px; /* Leichte Abrundung für ein schöneres Design */
}

.provider span {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}
